---
import Layout from '../../layouts/Layout.astro'
// import {
//   fetchSeasonTotals,
//   buildTeamTable,
//   buildOverviewTable,
//   playerStatType,
// } from '../../lib/stats/seasonTotals'

function toTitleCase(str: string) {
  const result = str.replace(/([A-Z])/g, ' $1')
  return result.charAt(0).toUpperCase() + result.slice(1)
}

// const allSeasonStats = await fetchSeasonTotals()
// const team = buildTeamTable(allSeasonStats[0])
// const overview = buildOverviewTable(allSeasonStats[0])
---

<Layout title='Greasy Geese - Home of the Greasy'>
  <main>
    <h1>Totals</h1>
    <table>
      <!-- <thead>
        <th></th>
        {playerStatType.map(stat => <th>{toTitleCase(stat)}</th>)}

        <tbody>
          {
            Object.entries(team.players).map(([player, stats]) => {
              return (
                <tr>
                  <td class='player'>{player}</td>
                  {Object.values(stats).map(stat => {
                    console.log(stat)
                    return <td>{stat}</td>
                  })}
                </tr>
              )
            })
          }
        </tbody>

        <style>
          main {
            margin: auto;
            padding: 2rem 2.5rem;
            margin-top: 10vh;
            margin-bottom: 10vh;
            max-width: 1200px;
            background: white;
            border: 1px solid rgba(211, 211, 211, 0.395);

            border-radius: 3px;
          }
          h1 {
            font-size: 3rem;
            font-weight: 800;
            margin: 0;
          }

          th,
          td:not(.player) {
            text-align: center;
          }
          .text-gradient {
            background-image: var(--accent-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400%;
            background-position: 0%;
          }
          .instructions {
            line-height: 1.6;
            margin: 1rem 0;
            border: 1px solid rgba(var(--accent), 25%);
            background-color: white;
            padding: 1rem;
            border-radius: 0.4rem;
          }
          .instructions code {
            font-size: 0.875em;
            font-weight: bold;
            background: rgba(var(--accent), 12%);
            color: rgb(var(--accent));
            border-radius: 4px;
            padding: 0.3em 0.45em;
          }
          .instructions strong {
            color: rgb(var(--accent));
          }
          .link-card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
            gap: 1rem;
            padding: 0;
          }
          footer {
            max-width: 60ch;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0.5rem;
          }
        </style>


      </thead> -->
    </table>
  </main>
</Layout>
