---
import Layout from '../layouts/Layout.astro'
import NextGame from '../components/NextGame.astro'
import GameList from '../components/GameList.astro'

import { SCHEDULE_URL } from '../config'
import { fetchSchedule, fetchStandings } from '../lib'

const schedule = await fetchSchedule(SCHEDULE_URL)

const remainingDays = schedule.filter(gameDay => {
  const curDate = new Date()
  curDate.setHours(0, 0, 0, 0)

  return gameDay.date >= curDate
})
const nextGameDay = remainingDays[0]
---

<Layout title='Greasy Geese - Home of the Greasy'>
  <main>
    <h1>Home of the <span class='text-gradient'> Greasy Geese</span></h1>
    <NextGame day={nextGameDay} />

    <GameList days={remainingDays} />
    <!-- UpcomingGames -->
  </main>

  <footer>
    <a href='https://github.com/SceptreData/greasy-geese'>Github</a>
  </footer>
</Layout>

<style>
  main {
    margin: auto;
    padding: 2rem 2.5rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
    max-width: 60ch;
    background: white;
    border: 1px solid rgba(211, 211, 211, 0.395);

    border-radius: 3px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  footer {
    max-width: 60ch;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
  }
</style>
